--- 
layout: default 
title: home 
---
<style type="text/css" media="screen">
  body:after {
    content: "";
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: -350px;
    bottom: -400px;
    background: var(--primary-color);
    border-radius: 50px;
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
    z-index: -1;
    box-shadow: 0 0 11px 0px rgba(0, 0, 0, 0.6);
  }

  .splash {
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .splash #blurb {
    z-index: 1;
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .splash #blurb img {
    width: 300px;
  }

  .bg {
    background-color: var(--white-2-color, #F6F6F6);
    border-radius: 20px;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #blurb #tagline{
    color: var(--primary-color);
    padding: 1rem 0px;
  }
  #blurb > p{
    max-width: 400px;
  }
</style>

<section class="container splash">
  <div id="blurb">
    <img src="{{ site.url }}/imgs/logo/logo-text.svg">
    <p id="tagline">{{ site.tagline }}</p>
    <p id="description">{{ site.description }}</p>
    <span>
      <a class="btn btn-primary" href="{{ site.url }}/contact.html">Contact</a>
      {% include start.html %}
    </span>
  </div>
</section>

{% include screencap-hero.html %}
