<style>
	footer {
		width: 100%;
		flex-shrink: 0;
		padding: 1rem 0rem;
		color: var(--dark-3-color);
	}
	footer>.cols {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	footer>.cols>.col>ul {
		text-transform: capitalize;
		list-style: none;
		min-width: 140px;
		padding: 0;
	}
	
	footer a {
		color: var(--dark-3-color);
		font-size: 0.9rem;
		text-decoration: none;
		cursor: pointer;
	}
	footer>.cols>.col{
		max-width: 200px;
	}
	footer>.cols>.col>ul>li>a:hover,
	footer>.cols>.col>ul>li>a:focus {
		color: var(--grey-4-color);
		text-decoration: none;
	}
	footer>.cols>.col .col-tile{
		font-weight: 600;
		line-height: 2rem;
	}
	footer > article{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}
	footer > article  p{
		margin: 0;
		font-size: 0.8rem;
	}
	footer > article aside>a{
		font-size: 1.5rem;
		margin: 0.5rem;
	}
	@media only screen and (max-width: 1000px){
		footer > article,
		footer > .cols{
			margin: 0 1rem !important;
		}
	}
</style>
<footer>
	<article class="container">
		<aside>
			<a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i></a>
		</aside>
	</article>
	<div class="cols container">
		<span class="col">
			<ul>
				<li>
					<a href="{{ site.url }}/privacy-policy.html">Privacy Policy</a>
				</li>
				<!-- <li>
					<a href="{{ site.url }}/consent-dashboard.html">Consent Dashboard</a>
				</li> -->
			</ul>
		</span>
	</div>
</footer>
