---
layout: default
title: Blog
redirect_from: /blog
---
<section class="blog">
<h1 style="text-align: center;">Blog</h1>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post-thumb post">
    <a href="{{ site.baseurl }}{{ post.url }}">
    {% if post.postimg %}
    <img src="{{ post.postimg }}">
    {% endif %}
    <h2 class="post-title">
        {{ post.title }}
    </h2>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    </a>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/blog/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.url }}/blog">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/blog/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
</section>
<script>
document.addEventListener('DOMContentLoaded', () => {
  anime.timeline({
    targets: '.posts .post',
    delay: function(el, i) { return i * 200 },
    duration: 1000,
    easing: 'easeInExpo',
  })
  .add({
    translateY: [-50, 0],
    opacity: [0, 1]
  });
});
</script>