---
layout: default
---
<section class="blog">
<a href="{{ site.baseurl }}/blog"><i class="far fa-long-arrow-alt-left"></i> Back to blog</a>
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>


<div class="share">
<h2>Share This</h2>
  <!-- Twitter (url, text, @mention) -->
  <a class="share-btn twitter" href="https://twitter.com/share?url={{ site.baseurl }}{{ page.url }}&text={{ page.title }}&via=entelligently">
      <i class="fab fa-fw fa-twitter" aria-hidden="true"></i>
  </a>
  <!-- LinkedIn (url, title, summary, source url) -->
  <a class="share-btn linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.title }}&source=entelligently.com">
      <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i>
  </a>
  <!-- Facebook (url) -->
  <a class="share-btn facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ page.url }}">
      <i class="fab fa-fw fa-facebook" aria-hidden="true"></i>
  </a>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% if page.comments %}
  {% include disqus.html %}
{% endif %}
</section>